/*Fonts*/
@font-face{
    font-family: "condensed";
    src: url(ArlaCondBold.otf);
}
@font-face{
    font-family: "regular";
    src: url(ArlaIF_W_Rg.ttf);
}
@font-face{
    font-family: "bold";
    src: url(ArlaIF_W_Bd.ttf);
}
@font-face{
    font-family: "italic";
    src: url(ArlaIF_W_It.ttf)
}
@font-face{
    font-family: "light";
    src: url(ArlaIF_W_Lt.ttf);
}
/*Fonts*/

body, html{
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}
p{
    font-family: "regular";
    font-size: 1.125em;
    line-height: 1.35em;
}
h1{
    font-family: "bold";
    color: #006C3A;
    font-size: 2.531em;
}
.maintitles{
  text-align: center;
}
.mainparagraphs{
  padding-left: 15px;
  padding-right: 15px;
}

/*Hamburger Menu and Bar*/ /*Source: https://codepen.io/shieldsma91/pen/zLpbLX*/
.container{
  width: 100%;
  height: 100vh;
  Display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}
.content{
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#topbar{
  display: flex;
  background-color: #fff;
  height: 65px;
  margin: 0;
  padding: 0;
}
.logolink{
  align-self: center;
  justify-self: center;
  grid-column: 2;
  width: 70px;
}
#logo{
  max-width: 70px;
  flex-shrink: 0;
  justify-self: center;
}
#smallgrid{
  display: grid;
  position: absolute;
  height: 65px;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  flex-shrink: 0;
  margin: 0;
}
#rightnav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 80%;
  justify-self: center;
}

#menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100px;
  height: 100vh;
  box-shadow: 0 0 10px #333;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 99;
  pointer-events: auto;
}
#menu a{
  text-decoration: none;
  color: #1E471f;
  opacity: 1;
  font-family: "regular";
  font-size: 1.2em;
  transition: 200ms;
  align-self: center;
}
#menu img{
   width: 110px;
}
#menu p{
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  transition-delay: 2s;
  text-align: center;
  padding-top: 0px;
}
#menuToggle input:checked ~ nav{
  transform: none;
  pointer-events: auto;
}

#menuToggle{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 35px;
  z-index: 100;
  pointer-events: auto;
}
#menuToggle input{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  pointer-events: auto;
}
#menuToggle span{
  display: flex;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: #1E471f;
  border-radius: 3px;
  z-index: 100;
  transform-origin: -2.5px 2px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
/*Hamburger Menu and Bar*//*Source: https://codepen.io/shieldsma91/pen/zLpbLX*/

/*Index Categories*/
.contentscroll{
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding-top: 150px;
  pointer-events: auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
.butt{
  cursor: pointer;
  background-color: #fff;
  padding: 10px 40px 10px 40px;
  display: inline-block;
  border: none;
  box-shadow: 2px 3px 3px #b0b0b0;
  font-family: "bold";
  font-size: 1em;
  text-decoration: none;
  color: #333;
}

#onlyheresothatitscrollsnormally{
  height: 100px;
  width: 100vw;
}

.lines{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.line1{
  margin: 50px 0 20px 15px;
  width: auto;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  grid-column: 1;
}
.line2{
  margin: 50px 15px 20px 0;
  width: auto;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  grid-column: 3;
}
.linetitle{
  margin-top: 40px;
  width: auto;
  grid-column: 2;
  text-align: center;
  font-size: 1em;
  font-family: bold;
  opacity: 0.5;
}
/*Index Categories*/

.deskwrapper{
  visibility: hidden;
  position: absolute;
  z-index: -1000;
}

@media only screen and (min-width: 768px) {

body,html{
  overflow-x: hidden;
}

.container{
  visibility: hidden;
}

/*Desktop Wrapper*/
.deskwrapper{
  visibility: visible;
  z-index: auto;
  position: fixed;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 0px 1fr;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
/*Desktop Wrapper*/

/*Desktop Index*/
.deskcontent{
  margin: 50px;
  /* background-color: #fff;
  box-shadow: 4px 4px 3px #b0b0b0; */ /* for white background version */
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto 50px 1fr;
}

.deskmaintitles{
  font-size: 5.3em;
  align-self: center;
  margin-bottom: 0px;
  grid-column: 1/ span 4;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.deskmainparagraphs{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  max-width: 100%;
}

.search{
  grid-row: 1;
  grid-column: 4;
  width: 80%;
  max-width: 250px;
  height: 60%;
  justify-self: center;
  align-self: center;
  border: 3px solid #006C3A;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
.search p{
  align-self: center;
  padding-left: 15px;
  opacity: .5;
}
.search img{
  align-self: center;
  width: 20px;
  padding-right: 5%;
}

.deskline1{
  margin: 0;
  width: 60%;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  grid-column: 1/ span 2;
  grid-row: 4;
  align-self: center;
  justify-self: center;
}
.desklinetitle{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 4;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 1em;
  font-family: bold;
  opacity: 0.5;
}
.deskline2{
  margin: 0;
  width: 60%;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  grid-column: 3/ span 4;
  grid-row: 4;
  align-self: center;
  justify-self: center;
}
.contentflex{
  grid-column: 1 / span 4;
  grid-row: 5;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.deskcat{
  margin: 10px;
  display: block;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(media/logo.svg);
  background-repeat: no-repeat;
}
.deskcat:hover .overlay{
  opacity: 1;
}
/*Desktop Index*/

/*Side Navigation*/
.stickytop{
  grid-row: 1;
  grid-column: 1 / span 2;
  position: sticky;
}
.sidenav div{
  position: sticky;
  top: 0;
}
.sidenav{
  visibility: visible;
  grid-row: 2;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}
.sidenav a{
  text-decoration: none;
  font-size: 25px;
  color: #1E471f;
  display: block;
  font-family: "regular";
  position: relative;
}
.sidenav a p{
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: .9em;
}
.sidenav a img{
  width: 100px;
}
#home{
  padding-bottom: 100px;
  padding-top: 20px;
}
/*Side Navigation*/
